<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

<div th:fragment="content" class="p-4">
    <h1 th:text="${course.id != null ? 'Upravit vaření' : 'Přidat vaření'}"></h1>
    <form method="post" th:action="@{/courses/save}" th:object="${course}">
        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label for="name" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>

        <div class="mb-3">
            <label for="bosMember" class="form-label">Select BOS Member</label>
            <select id="bosMember" class="form-select" th:field="*{bosMember}">
                <option th:each="bosMember : ${bosMembers}" th:value="${bosMember.id}" th:text="${bosMember.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="members" class="form-label">Select Members</label>
            <select id="members" class="form-select" th:field="*{members}" multiple>
                <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.username}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="fuelCells" class="form-label">Fuel Cells</label>
            <div id="fuelCells">
                <div th:each="fuelCell, iterStat : ${course.fuelCells}" class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <span th:text="'Height: ' + ${fuelCell.height} + ', Width: ' + ${fuelCell.width} + ', Quality: ' + ${fuelCell.quality} + ', Hole Offcenter: ' + ${fuelCell.holeOffcenter}"></span>
                    </div>
                    <div>
                        <a th:href="@{'/fuel-cells/' + ${fuelCell.id} + '/edit'}" class="btn btn-primary btn-sm">Upravit</a>
                    </div>
                </div>
            </div>
            <a th:href="@{'/fuel-cells/new?courseId=' + ${course.id}}" class="btn btn-success">Přidat palivový článek</a>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</script>
</body>
</html>
