<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: nav"></nav>
    <div th:fragment="content">
        <h1 class="text-center">Home Page</h1>
        <div class="text-center">
            <a class="btn btn-primary" th:href="@{/users/}">Seznam členů</a>
            <a class="btn btn-secondary" th:href="@{/bos_list.html/}">Seznam bezpečnostní organizace spolku</a>
            <a class="btn btn-success" th:href="@{/courses/}">Vaření</a>
        </div>
    </div>
</body>
</html>