<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: nav"></nav>
    <div th:fragment="content" class="p-5">
        <h1 th:text="${'User ' + user.username}"></h1>
        <h5 th:text="${'ID: ' + user.id}"></h5>
        <h5 th:text="${'Spolkový věk: ' + T(cz.uhk.kpro2.util.DateUtils).calculateDaysInAssociation(user.startDate) + ' dní'}"></h5>
        <a class="btn btn-primary" th:href="@{'/users/' + ${user.id} + '/edit'}">Edit User</a>
        <a class="btn btn-danger" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete User</a>
    </div>
</body>
</html>